<header>
  <div class="logo-wrapper">
    <img class="logo" src="https://s3-us-west-2.amazonaws.com/7sun-moziak/images/mozaik-logo.png">
    <div class="logo-text">Moziak</div>
  </div>
  <nav>
  </nav>
</header>