html, body {
  // height: 558px;
  // min-height: 558px;
  overflow: hidden;
}

#gallery {
  .shadow {
    position: absolute;
    z-index: 9999999999;
    top: 0;
    left: 0;
    height: calc(100vh - 96px);
    width: calc(100vw - 20px);
    margin: 53px 10px;
    box-shadow: inset 0 0 15px #000000;
    pointer-events: none;
  }
  .wrapper {
    height: 100vh;
    // height: 558px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    z-index: 1;
  }
  .wrapper > * {
    flex: 0 0  auto;
  }
  section.title {
    // margin: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    .button {
      flex: 1 1 auto;
      background-color: rgba(0,0,0,0.2);
      margin: 10px;
      padding: 5px;
    }
    .name {
      flex: 3 1 auto;
    }
  }
  section.images {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 5px;
    .image-box {
      height: 17vw;
      flex: 1 1 calc(20vw - 20px);
      margin: 5px;
    }
    .image1 {
      background: url('https://ssl.webpack.de/lorempixel.com/900/1000');
      background-size: cover;
      background-repeat: no-repeat;
      flex: 1 1 calc(100vw - 10px);
      height: 70vw;
    }

    .image2 {
      background: url('https://ssl.webpack.de/lorempixel.com/700/1000');
      flex: 1 1 calc(65vw - 20px);
      background-repeat: no-repeat;
      background-size: cover;
      height: 40vw;
      // transition: all 1s ease;
    }

    .image3 {
      background: url('https://ssl.webpack.de/lorempixel.com/800/1000');
      flex: 1 1 calc(35vw - 20px);
      height: 40vw;
      // transition: all 2s ease;
    }

    .image4 {
      background: url('https://ssl.webpack.de/lorempixel.com/700/1200');
    }

    .image5 {
      background: url('https://ssl.webpack.de/lorempixel.com/800/400');
    }

    .image6 {
      background: url('https://ssl.webpack.de/lorempixel.com/800/800');
    }

    .image7 {
      background: url('https://ssl.webpack.de/lorempixel.com/600/900');
    }
    .image8 {
      background: url('https://ssl.webpack.de/lorempixel.com/900/700');
    }
    .image9 {
      background: url('https://ssl.webpack.de/lorempixel.com/1200/700');
      height: 60vw;
      flex: 1 1 calc(30vw - 20px);
    }
    .image10 {
      background: url('https://ssl.webpack.de/lorempixel.com/1300/900');
      background-size: cover;
      flex: 1 1 calc(70vw - 20px);
      height: 60vw;
    }
    .expand {
      // transition: all 1s ease;
      flex: 1 1 100vw;
      height: 80vh;
    }
    .contract {
      // transition: all 1s ease;
      flex: 0;
      margin: 0;
      display: none;
    }
  }
  section.footer {
    display: flex;
    text-align: center;
    align-items: center;
    // border-top: 1px solid rgba(0,0,0,0.2);
    .nav-icon {
      flex: 1 1;
      padding: 10px;
      border-left: 1px solid rgba(0,0,0,0.2);
      &:first-child {
        border-left: none;
      }
    }
  }
}